.task_tittle{
    text-transform: uppercase;
    padding-left: 16px;
    margin-bottom: 8px;
    align-items: center;
    width: 372px;
    height: 45px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgb(1,1,1,0.1);
}