.home_layout{
    min-height: 100vh;
    background-color: #ffffff;
}

.home_content{
    padding: 0 80px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 16px;

}

.content_dashboard{
    margin-top: 40px;
    padding-top: 20px;
    border-radius: 50px;
    height: calc(100% - 40px);
    width: 1014px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 auto;
    align-items: center;

     
}

.search_task{
    width: 200px;
    text-align: center;
    margin: 64px auto;
    border-radius: 15px;
    border: 1px solid rgb(1,1,1,0.1);
}

.task_group{
    padding: 16px;
   flex-direction: row;
    display: flex;
    width: 100%;
    align-items: center;
    margin: auto auto;
    flex-wrap: wrap;
    background-color: #f0f0f0;
     
}

.task_group__completed{
  
}

.task_group__pending, .task_group__completed{
    display: flex;
    width: 50%;
    flex-wrap: nowrap;
    gap: 16px;
    flex-direction: column;
    min-width: 420px;
    
}
 

.task_group__pending, .task_group__completed{
    min-height: 900px;
    max-height: 900px;
    height: 900px;
    position: relative;
    display: flex;
    align-items: center;
}

.task_group__pending__pagination{
    
position: absolute;
bottom: 0;
margin: auto auto;

}